alias ls='ls -aG'
alias ll='ls -alF'
alias l='ls -CF'
alias la='ls -la'

alias bri='brew install'
alias bru='brew update'
alias brls='brew list'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias nrs='npm run start'
alias nrd='npm run dev'

alias restart='exec zsh -l'
alias rst='exec zsh -l'
alias cls='clear'

function _cd_up() { cd $(printf "%0.s../" $(seq 1 $1 )); }
alias cd..='_cd_up'

declare -A dk_vars
dk_vars[dk]="docker"; dk_vars[rn]="run"; dk_vars[st]="start"; dk_vars[sp]="stop"; dk_vars[pl]="pull"
dk_vars[b]="build"; dk_vars[k]="kill"; dk_vars[ex]="exec"; dk_vars[cn]="container"

alias dk='_run_docker'
function _run_docker() {
  [ "$1" ] || return
  [ "$dk_vars[$1]" ] && fst="$dk_vars[$1]" || fst=$1
  [ "$dk_vars[$2]" ] && scd="$dk_vars[$2]" || scd="$2"
  [ "$dk_vars[$3]" ] && thd="$dk_vars[$3]" || thd="$3"
  [ "$dk_vars[$4]" ] && fth="$dk_vars[$4]" || fth="$4"
  eval "docker $fst $scd $thd $fth"
}

alias cra='_make_react_app'
function _make_react_app() {
  [ "$1" ] && mkcd "$1" || return
  npx create-react-app .
  mv ./src/index.js ./src/App.js ./public/index.html ./
  rm -rf ./src ./public .git .gitignore
  mkdir {src,public}
  sed -i '3d;5d;13,17d' ./index.js
  sed -i '1,3d;7,20d;' ./App.js
  sed -i s/' className=\"App\"'//g ./App.js
  sed -i '5,26d;30d;32,41d;' ./index.html
  mv ./index.js ./App.js ./src
  mv ./index.html ./public
}

alias src='.'
alias srcalias='. ~/.aliases'
alias srcprof='. ~/.zprofile'
alias srcrc='. ~/.zshrc'

alias valias='vim ~/.aliases'
alias vprof='vim ~/.zprofile'
alias vrc='vim ~/.zshrc'

alias mkcd='_mk_cd'
function _mk_cd() { mkdir "$1"; cd "$1"; }

alias start='open'
alias rmf='rm -rf'

alias ga='git add'
alias gb='git branch'
alias gch='git checkout'
alias gcm='git commit'
alias gcmm='git commit -m'
alias gcl='git clone'
alias gcp='git cherry-pick'
alias gd='git diff'
alias gf='git fetch'
alias ggraph='git log --graph --abbrev-commit --date=relative --all'
alias glog='git log'
alias gplog="git log --pretty=format:'%h   %an   %s' -5"
alias gmrg='git merge'
alias gp='git pull'
alias gpu='git push'
alias grbs='git rebase'
alias grem='git remote'
alias gres='git reset'
alias grest='git restore'
alias grm='git rm'
alias gs='git status'
alias gst='git stash'
alias gt='git tag'

alias loadreq='pip3 install -r requirements.txt'
alias setreq='pip3 freeze > requirements.txt'

alias mkvenv='_mkvenv'
function _mkvenv() { 
  if [ "$1" ]; then 
    python3 -m venv "$1" 
  else 
    python3 -m venv venv
  fi
}

alias dvenv='_dvenv'
function _dvenv() {
  [[ $(type deactivate 2>/dev/null) ]] && deactivate
}

alias rmvenv='_rmvenv'
function _rmvenv() {
	_dvenv
	if [ "$1" ]; then
    rm -rf "$1"
  else 
    rm -rf venv
  fi
}

alias srcvenv='_srcvenv'
function _srcvenv() { 
  if [ "$1" ]; then
    . "$1"/bin/activate
  else 
    . venv/bin/activate; 
  fi 
}

alias setvenv='_setvenv'
function _setvenv() {
	if [ "$1" ]; then
     _mkvenv "$1" && _srcvenv "$1"
  else  
    _mkvenv && _srcvenv
  fi
}
